## Actividad 2.2 Valores nulos: Reto

In [140]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 2020

In [141]:
# Leemos nuestro datset, utilizaremos los datos correspondientes a 2020
gastos_2020 =pd.read_excel("Gastos y costos 20-23.xlsx", sheet_name="2020", header= 5)
gastos_2020

,FECHA,FOLIO,UUID,RFC,PROVEEDOR,TIPO GASTO,GASTO,DESCRIPCION,TC,IMPORTE,IVA,RET ISR,RET IVA,TOTAL MX,TOTAL SAT,TIPO,STATUS,POLIZA,Columna1
0,2020-01-01,39408,BD20F436-72CC-4BE2-AD37-5999D71AA391,ARE080115PBA,ARSI RENTA SA DE CV,MAQUINARIA,NaN,"Descripción: REVOLVEDORA, Modelo: ULTRAMP9A, M...",1.0,0.00,2248.28,0.0,0.0,2248.28,16300.00,I,Vigente,NaN,14051.72
1,2020-01-01,0001010100750847116902,85AEAC2E-6395-44A0-9CB9-754D06893375,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,NaN,COMISION COBRADA,1.0,490.00,78.40,0.0,0.0,568.40,568.40,I,Vigente,NaN,0.00
2,2020-01-01,0001010100752163714102,BD0DFE85-D776-41CB-9C5C-4FA7923E687A,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,NaN,COMISION COBRADA,1.0,195.00,31.20,0.0,0.0,226.20,226.20,I,Vigente,NaN,0.00
3,2020-01-01,3663,EF4504D6-830D-415C-AF03-80CF54C5E28E,PSS120625C86,PROMOTORA DE SERVICIOS Y SOLUCIONES EMPRESARIA...,HONORARIOS CONTABLES,NaN,HONORARIOS CONTABLES\nDEL MES DE ENERO DEL 2020.,1.0,10694.25,1711.08,0.0,0.0,12405.33,12405.33,I,Vigente,NaN,0.00
4,2020-01-01,2849,EC2F4AA4-BA64-4E2E-A5B7-4EBBE042D6D3,ENA7006081P0,ELECTROTERMICA NACIONAL SA DE CV,COMPRAS,NaN,Pago,1.0,0.00,NaN,0.0,0.0,0.00,0.00,P,Vigente,NaN,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,2020-12-01,125834,80BCB1D8-673F-495B-9C2A-4AC9F9CB38E5,SQS110113MU0,SERVICIO QUINTANA SUR S.A DE C.V,COMBUSTIBLE,G VTA,32011 MAGNA,1.0,129.79,20.21,0.0,0.0,150.00,150.00,I,Vigente,NaN,0.00
3338,2020-12-01,37652,D4C7C1FB-03A7-4046-A2BD-03EBE7DA861E,PSQ790724C90,"CIA. PERIODISTICA DEL SOL DE QUERETARO, S.A. D...",PUBLICIDAD,G VTA,82101504-PUBLICIDAD EN PERIODICOSCALOR Y CONTROL,1.0,2284.80,365.57,0.0,0.0,2650.37,2650.37,I,Vigente,NaN,0.00
3339,2020-12-01,160,FFCEE7D4-1F38-4D44-BE02-EB042DAACEE7,SQX981027RY5,"SUPER Q, S. A. DE C. V.",ALIMENTOS,G VTA,REF VICTORIA GROSELLA 3 LT PET NR,1.0,163.79,26.21,0.0,0.0,190.00,190.00,I,Vigente,NaN,0.00
3340,2020-12-01,634875,8DFF4F01-2F8B-4085-B116-05A314108B02,BIN940223KE0,"BANCO INVEX, S.A., INSTITUCION DE BANCA MULTIP...",COMISION BANCARIA,G FINA,COMISIONES E INTERESES,1.0,0.00,0.00,0.0,0.0,0.00,0.00,I,Vigente,NaN,0.00
3341,2020-12-01,1044477,F18225D6-4024-4F03-A15A-D18917386D59,EFE8908015L3,EFECTIVALE S. de R.L. de C.V.,COMBUSTIBLE,G VTA,CONSUMOS DE COMBUSTIBLE DE MONEDEROS ELECTRONICOS,1.0,14889.29,0.00,0.0,0.0,14889.29,14889.29,I,Vigente,NaN,0.00

In [142]:
# Seleccionamos las columnas de interés
gastos20_c = gastos_2020[['FECHA', "FOLIO",'PROVEEDOR', "DESCRIPCION", "TIPO GASTO", "IMPORTE", "IVA", "TOTAL MX"]]
gastos20_c.head(3)

,FECHA,FOLIO,PROVEEDOR,DESCRIPCION,TIPO GASTO,IMPORTE,IVA,TOTAL MX
0,2020-01-01,39408,ARSI RENTA SA DE CV,"Descripción: REVOLVEDORA, Modelo: ULTRAMP9A, M...",MAQUINARIA,0.0,2248.28,2248.28
1,2020-01-01,0001010100750847116902,"BANCO NACIONAL DE MEXICO, S.A.",COMISION COBRADA,COMISION BANCARIA,490.0,78.40,568.40
2,2020-01-01,0001010100752163714102,"BANCO NACIONAL DE MEXICO, S.A.",COMISION COBRADA,COMISION BANCARIA,195.0,31.20,226.20

In [143]:
# Comprobamos si es necesario realizar alguna modificación de tipo de dato 
gastos20_c.info()
# Todo parece correcto

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        3342 non-null   datetime64[ns]
 1   FOLIO        3153 non-null   object
 2   PROVEEDOR    3342 non-null   object
 3   DESCRIPCION  3342 non-null   object
 4   TIPO GASTO   3342 non-null   object
 5   IMPORTE      3308 non-null   float64
 6   IVA          3074 non-null   float64
 7   TOTAL MX     3342 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 209.0+ KB

### Identificación de nulos

In [144]:
# Identificamos la existencia de nulos en nuestro dataframe
gastos20_c.isnull().sum()

FECHA            0
FOLIO          189
PROVEEDOR        0
DESCRIPCION      0
TIPO GASTO       0
IMPORTE         34
IVA            268
TOTAL MX         0
dtype: int64

### Columna FOLIO

In [145]:
# Se identificaron 189 datos nulos en la columna FOLIO 
# Utilizaremos el siguiente formato : "XXXX" para sustituirlo y ser capaces de identificarlos posteriormente
gastos20_c["FOLIO"] = gastos20_c["FOLIO"].fillna("XXXX")

<ipython-input-145-c958e87c7bb7>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gastos20_c["FOLIO"] = gastos20_c["FOLIO"].fillna("XXXX")

### Columna IMPORTE

In [146]:
# Se identificaron 34 datos nulos en la columna IMPORTE
# Debido a que se desconoce el porque no se registró esa información, se sustituiran por el número 0
gastos20_c["IMPORTE"] = gastos20_c["IMPORTE"].fillna(0)

<ipython-input-146-f7e439058737>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gastos20_c["IMPORTE"] = gastos20_c["IMPORTE"].fillna(0)

### Columna IVA

In [147]:
# Se identificaron 268 datos nulos en la columna IVA
# Debido a que se desconoce el porque no se registró esa información, se sustituiran por el número 0
gastos20_c["IVA"] = gastos20_c["IVA"].fillna(0)

<ipython-input-147-76c343599fc1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gastos20_c["IVA"] = gastos20_c["IVA"].fillna(0)

In [148]:
# Comprobamos la imputación exitosa
gastos20_c.isnull().sum()

FECHA          0
FOLIO          0
PROVEEDOR      0
DESCRIPCION    0
TIPO GASTO     0
IMPORTE        0
IVA            0
TOTAL MX       0
dtype: int64

# 2021

In [149]:
# Leemos nuestro datset, utilizaremos los datos correspondientes a 2021
gastos_2021 =pd.read_excel("Gastos y costos 20-23.xlsx", sheet_name="2021", header= 3)
gastos_2021

,FECHA,FOLIO,UUID,RFC,PROVEEDOR,TIPO GASTO,DESCRIPCION,MP,TC,IMPORTE,IVA,RET ISR,RET IVA,TOTAL MX,TOTAL SAT,TIPO,STATUS,POLIZA
0,2021-01-01,0001010100750847116902,71B4C8B9-8DAA-47CC-AD47-9DD90AA5AF6B,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,COMISION COBRADA,PUE,1.0,490.00,78.40,0.0,0.0,568.40,568.40,I,Vigente,0
1,2021-01-01,0001010100752163714102,B8AEDE83-CC76-404C-A611-6B5A87BA561F,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,COMISION COBRADA,PUE,1.0,345.00,55.20,0.0,0.0,400.20,400.20,I,Vigente,0
2,2021-01-01,19788,19B9B2C2-DF58-E24D-B43A-3FC4D5A929E7,ESI9612311E7,"ELECTRONICOS Y SIMILARES, S.A. DE C.V.",COMPRAS,MOTO E7 PLUS AZUL 64GB 4RAM,PUE,1.0,3447.41,551.59,0.0,0.0,3999.00,3999.00,I,Vigente,0
3,2021-01-01,211781,EAB26414-DD9A-4E8F-9F5C-05FE24D98E48,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006876 6/36 de 03/12/2...,PPD,1.0,5551.38,888.22,0.0,0.0,6439.60,6439.60,I,Vigente,0
4,2021-01-01,211782,C16F79B5-FB35-4BFC-AF84-708B24F500BB,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006877 6/36 de 03/12/2...,PPD,1.0,5551.98,888.32,0.0,0.0,6440.30,6440.30,I,Vigente,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3030,2021-12-01,127043,83F82167-0D14-144E-9D76-045C95F25DDD,PGM881128QIA,"PROMOCIONES GRAFICAS MEXICANAS, S.A. DE C.V.",PUBLICIDAD,Pago,NaN,1.0,0.00,0.00,0.0,0.0,0.00,0.00,P,Vigente,NaN
3031,2021-12-01,11740,B1C60AE0-02BC-4A33-9513-A280F72B5D06,SME0510105C7,SPECTRIS MEXICO S DE RL DE CV,COMPRAS,INSULATED T/C WIRE,PUE,1.0,0.00,0.00,0.0,0.0,0.00,0.00,I,Vigente,NaN
3032,2021-12-01,1092957089,255F4A25-5753-4208-8F6B-0B59E5AE4741,BMN930209927,BANCO MERCANTIL DEL NORTE SA INSTITUCION DE BA...,COMISION BANCARIA,SERVICIOS BANCARIOS,PUE,1.0,22826.46,705.58,0.0,0.0,23532.04,23532.04,I,Vigente,NaN
3033,2021-12-01,747826,D8226E4F-9241-44C3-86A4-CDE9BC932528,BIN940223KE0,"BANCO INVEX, S.A., INSTITUCION DE BANCA MULTIP...",COMISION BANCARIA,COMISIONES E INTERESES,PUE,1.0,0.00,0.00,0.0,0.0,0.00,0.00,I,Vigente,NaN
3034,2021-12-01,1227374,41770F35-39EF-41A4-8DF4-EE9586CF4549,EFE8908015L3,EFECTIVALE S. de R.L. de C.V.,GASOLINA,CONSUMOS DE COMBUSTIBLE DE MONEDEROS ELECTRONICOS,PUE,1.0,15656.15,0.00,0.0,0.0,15656.15,15656.15,I,Vigente,NaN

In [150]:
# Seleccionamos las columnas de interés
gastos21_c = gastos_2021[['FECHA', "FOLIO",'PROVEEDOR', "DESCRIPCION", "TIPO GASTO", "IMPORTE", "IVA", "TOTAL MX"]]
gastos21_c.head(3)

,FECHA,FOLIO,PROVEEDOR,DESCRIPCION,TIPO GASTO,IMPORTE,IVA,TOTAL MX
0,2021-01-01,0001010100750847116902,"BANCO NACIONAL DE MEXICO, S.A.",COMISION COBRADA,COMISION BANCARIA,490.00,78.40,568.4
1,2021-01-01,0001010100752163714102,"BANCO NACIONAL DE MEXICO, S.A.",COMISION COBRADA,COMISION BANCARIA,345.00,55.20,400.2
2,2021-01-01,19788,"ELECTRONICOS Y SIMILARES, S.A. DE C.V.",MOTO E7 PLUS AZUL 64GB 4RAM,COMPRAS,3447.41,551.59,3999.0

In [151]:
# Comprobamos si es necesario realizar alguna modificación de tipo de dato 
gastos21_c.info()
# Todo parece correcto

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3035 entries, 0 to 3034
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        3035 non-null   datetime64[ns]
 1   FOLIO        2888 non-null   object
 2   PROVEEDOR    3035 non-null   object
 3   DESCRIPCION  3035 non-null   object
 4   TIPO GASTO   3035 non-null   object
 5   IMPORTE      3035 non-null   float64
 6   IVA          3035 non-null   float64
 7   TOTAL MX     3035 non-null   float64
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 189.8+ KB

In [152]:
# Identificamos la existencia de nulos en nuestro dataframe
gastos21_c.isnull().sum()

FECHA            0
FOLIO          147
PROVEEDOR        0
DESCRIPCION      0
TIPO GASTO       0
IMPORTE          0
IVA              0
TOTAL MX         0
dtype: int64

### Columna FOLIO

In [153]:
# Se identificaron 147 datos nulos en la columna FOLIO 
# Utilizaremos el siguiente formato : "XXXX" para sustituirlo y ser capaces de identificarlos posteriormente
gastos21_c["FOLIO"] = gastos21_c["FOLIO"].fillna("XXXX")

<ipython-input-153-8829df1b6544>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gastos21_c["FOLIO"] = gastos21_c["FOLIO"].fillna("XXXX")

In [154]:
# Exploraremos la columna IVA
gastos21_c["IVA"]
# Nos damos cuenta de que existen instancias en las que el IVA es igual a 0, sin embargo no consideramos
# que sea necesario realizar algún tipo de imputación 
# Lo mismo sucede en las columnas IMPORTE Y TOTAL MX

0        78.40
1        55.20
2       551.59
3       888.22
4       888.32
         ...
3030      0.00
3031      0.00
3032    705.58
3033      0.00
3034      0.00
Name: IVA, Length: 3035, dtype: float64

In [155]:
# Comprobamos la correcta sustitución
gastos21_c.isnull().sum()

FECHA          0
FOLIO          0
PROVEEDOR      0
DESCRIPCION    0
TIPO GASTO     0
IMPORTE        0
IVA            0
TOTAL MX       0
dtype: int64

# 2022

In [156]:
# Leemos nuestro datset, utilizaremos los datos correspondientes a 2022
gastos =pd.read_excel("Gastos y costos 20-23.xlsx", sheet_name="2022")
# Filtramos filas innecesarias 
gastos =gastos.drop([0,1,2,3], axis=0)
# Filtramos columnas innecesarias 
gastos =gastos.drop(["Unnamed: 16","Unnamed: 13", "Unnamed: 17", "Unnamed: 18"], axis=1)
# Cambiar el nombre de las columnas 
gastos = gastos.rename(columns={"CALOR Y CONTROL S.A DE C.V":"FECHA","Unnamed: 1":"FOLIO",
                             "Unnamed: 2":"UUID","Unnamed: 3":"RFC","Unnamed: 4":"PROVEEDOR",
                             "Unnamed: 5":"TIPO_GASTO","Unnamed: 6":"DESCRIPCION","Unnamed: 7":"MP",
                             "Unnamed: 8":"TC","Unnamed: 9":"IMPORTE","Unnamed: 10":"IVA","Unnamed: 11":"RET ISR",
                             "Unnamed: 12":"RET IVA","Unnamed: 13	SUMA ":"otro","SUMA GTO":"TOTAL MX",10288749.18674:"TOTAL SAT","STATUS":"TIPO",
                             "POLIZA":"STATUS","Columna1":"POLIZA"})

In [157]:
gastos

,FECHA,FOLIO,UUID,RFC,PROVEEDOR,TIPO_GASTO,DESCRIPCION,MP,TC,IMPORTE,IVA,RET ISR,RET IVA,TOTAL MX,TOTAL SAT
4,2022-01-01 00:00:00,280109,7E00E776-A839-4D57-B291-411109164B2F,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006877 18/36 de 03/12/...,PPD,1,5551.98,888.32,0,0,6440.3,6440.3
5,2022-01-01 00:00:00,007817297284,BB6585C1-3B54-4130-AFD0-1867C3764821,BNM840515VB1,"BANCO NACIONAL DE MEXICO, S.A.",COMISION BANCARIA,Servicios de Facturación,PUE,1,0,0,0,0,0,0
6,2022-01-01 00:00:00,5595,B5E4B4EB-6C2F-11EC-BB9D-00155D014009,ZEGC530520V4A,CARLOS ENRIQUE ZERMEÑO GUTIERREZ,COMPRAS,Pago,NaN,1,0,0,0,0,0,0
7,2022-01-01 00:00:00,5614,BB6756D1-6CCD-11EC-947D-00155D014407,ZEGC530520V4A,CARLOS ENRIQUE ZERMEÑO GUTIERREZ,COMPRAS,Pago,NaN,1,0,0,0,0,0,0
8,2022-01-01 00:00:00,42862,21CDEC71-91AE-4EB4-91BD-58D80CED00AA,AAE6411055P8,"AESA ARTICULOS ELECTRICOS, S.A. DE C.V.",COMPRAS,Pago,NaN,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2575,2022-12-01 00:00:00,863376,E90DA089-3C3B-45C8-A19C-B8810D222F60,BIN940223KE0,"BANCO INVEX, S.A., INSTITUCION DE BANCA MULTIP...",COMISION BANCARIA,COMISIONES E INTERESES,PUE,1,0,0,0,0,0,0
2576,2022-12-01 00:00:00,1092957089,D720ED7C-F370-4236-B269-8873ABB78745,BMN930209927,BANCO MERCANTIL DEL NORTE SA INSTITUCION DE BA...,COMISION BANCARIA,SERVICIOS BANCARIOS,PUE,1,17310.3,516.32,0,0,17826.62,17826.62
2577,2022-12-01 00:00:00,4,0AFD3EB5-F3DD-43EB-B9FA-79D793CFF417,AAE6411055P8,Aesa Articulos Electricos S.A de C.V,COMPRAS,Pago,NaN,NaN,0,0,0,0,0,0
2578,2022-12-01 00:00:00,16,E3CA1DA8-581A-5844-80D2-CF0317B3BBEA,AAE6411055P8,AESA ARTICULOS ELECTRICOS,COMPRAS,Pago,NaN,NaN,0,0,0,0,0,0
2579,2022-12-01 00:00:00,17,17178BA2-9CCE-54F8-A4B8-3E5F98D4DB8E,AAE6411055P8,AESA ARTICULOS ELECTRICOS,COMPRAS,Pago,NaN,NaN,0,0,0,0,0,0

In [158]:
# Seleccionamos las columnas de interés
gastos_c = gastos[['FECHA', "FOLIO",'PROVEEDOR', "DESCRIPCION", "TIPO_GASTO", "IMPORTE", "IVA", "TOTAL MX"]]
gastos_c.head(3)

,FECHA,FOLIO,PROVEEDOR,DESCRIPCION,TIPO_GASTO,IMPORTE,IVA,TOTAL MX
4,2022-01-01 00:00:00,280109,BEPENSA LEASING S.A. DE C.V.,AA RENTA EXIGIBLE CL0000006877 18/36 de 03/12/...,ARRENDAMIENTO FINANCIERO,5551.98,888.32,6440.3
5,2022-01-01 00:00:00,007817297284,"BANCO NACIONAL DE MEXICO, S.A.",Servicios de Facturación,COMISION BANCARIA,0,0,0
6,2022-01-01 00:00:00,5595,CARLOS ENRIQUE ZERMEÑO GUTIERREZ,Pago,COMPRAS,0,0,0

In [159]:
gastos_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2576 entries, 4 to 2579
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        2576 non-null   object
 1   FOLIO        2474 non-null   object
 2   PROVEEDOR    2576 non-null   object
 3   DESCRIPCION  2576 non-null   object
 4   TIPO_GASTO   2576 non-null   object
 5   IMPORTE      2576 non-null   object
 6   IVA          2576 non-null   object
 7   TOTAL MX     2576 non-null   object
dtypes: object(8)
memory usage: 161.1+ KB

# Transformación de tipos de datos

In [160]:
# Comenzamos con la columna FECHA, la convertiremos a formato datetime 64
gastos_c["FECHA"] = gastos_c["FECHA"].astype("datetime64[ns]")
# Comenzamos con la columna IVA, la convertiremos a formato float 
gastos_c["IVA"] = gastos_c["IVA"].astype(float)
# Comenzamos con la columna IMPORTE, la convertiremos a format
gastos_c["IMPORTE"] = gastos_c["IMPORTE"].astype(float)

<ipython-input-160-c7eaa7482562>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gastos_c["FECHA"] = gastos_c["FECHA"].astype("datetime64[ns]")
<ipython-input-160-c7eaa7482562>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gastos_c["IVA"] = gastos_c["IVA"].astype(float)
<ipython-input-160-c7eaa7482562>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gastos_c["IMPORTE"] = gastos_c["IMPORTE"].astype(float)

In [161]:
gastos_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2576 entries, 4 to 2579
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        2576 non-null   datetime64[ns]
 1   FOLIO        2474 non-null   object
 2   PROVEEDOR    2576 non-null   object
 3   DESCRIPCION  2576 non-null   object
 4   TIPO_GASTO   2576 non-null   object
 5   IMPORTE      2576 non-null   float64
 6   IVA          2576 non-null   float64
 7   TOTAL MX     2576 non-null   object
dtypes: datetime64[ns](1), float64(2), object(5)
memory usage: 161.1+ KB

# Identificación de valores nulos

In [162]:
# Identificamos la existencia de nulos en nuestro dataframe
gastos_c.isnull().sum()

FECHA            0
FOLIO          102
PROVEEDOR        0
DESCRIPCION      0
TIPO_GASTO       0
IMPORTE          0
IVA              0
TOTAL MX         0
dtype: int64

### Columna FOLIO

In [163]:
# Identificamos la existencia de 102 valores nulos en FOLIO
# Utilizaremos el siguiente formato : "XXXX" para sustituirlo y ser capaces de identificarlos posteriormente
gastos_c["FOLIO"] = gastos_c["FOLIO"].fillna("XXXX")

<ipython-input-163-e9e43f8d27a3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gastos_c["FOLIO"] = gastos_c["FOLIO"].fillna("XXXX")

### Columna IVA

In [164]:
# Exploraremos la columna IVA
gastos_c["IVA"]
# Nos damos cuenta de que existen instancias en las que el IVA es igual a 0, sin embargo no consideramos
# que sea necesario realizar algún tipo de imputación

4       888.32
5         0.00
6         0.00
7         0.00
8         0.00
         ...
2575      0.00
2576    516.32
2577      0.00
2578      0.00
2579      0.00
Name: IVA, Length: 2576, dtype: float64

### Columna IMPORTE

In [165]:
# Exploraremos la columna IMPORTE
gastos_c["IMPORTE"]
# Nos damos cuenta de que existen instancias en las que el IMPORTE es igual a 0, sin embargo no consideramos
# que sea necesario realizar algún tipo de imputación

4        5551.98
5           0.00
6           0.00
7           0.00
8           0.00
          ...
2575        0.00
2576    17310.30
2577        0.00
2578        0.00
2579        0.00
Name: IMPORTE, Length: 2576, dtype: float64

### Columna TOTAL_MX

In [166]:
# Exploraremos la columna TOTAL_MX
gastos_c["TOTAL MX"]
# Nos damos cuenta de que existen instancias en las que el TOTAL_MX es igual a 0, sin embargo no consideramos
# que sea necesario realizar algún tipo de imputación

4         6440.3
5              0
6              0
7              0
8              0
          ...
2575           0
2576    17826.62
2577           0
2578           0
2579           0
Name: TOTAL MX, Length: 2576, dtype: object

# 2023

In [167]:
# Leemos nuestro datset, utilizaremos los datos correspondientes a 2023
gastos_2023 =pd.read_excel("Gastos y costos 20-23.xlsx", sheet_name="2023", header= 3)
gastos_2023

,Fecha,Folio,UUID,RFC,Proveedor,TIPO GASTO,Descripción,MP,FP,TC,Importe,IVA,RET ISR,RET IVA,Otros,TOTAL MX,TOTAL SAT,Tipo,Status,Poliza
0,2023-01-01,31,49536321-60A4-523E-A32F-E8BDF5C2276E,AAE6411055P8,AESA ARTICULOS ELECTRICOS,COMPRAS,Pago,NaN,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.00,0.00,P,Vigente,NaN
1,2023-01-01,38,20FBB63B-D550-512F-9668-EEC6F983CEB7,AAE6411055P8,AESA ARTICULOS ELECTRICOS,COMPRAS,Pago,NaN,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.00,0.00,P,Vigente,NaN
2,2023-01-01,341932,DB8C4388-D4E0-4F0C-A09C-77C773257F44,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006876 30/36 de 03/12/...,PPD,99.0,1.0,5551.38,888.22,0.0,0.0,NaN,6439.60,6439.60,I,Vigente,PE01-ENE23
3,2023-01-01,341933,A81A63F5-D5EC-4601-803E-375AF9CC5021,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000006877 30/36 de 03/12/...,PPD,99.0,1.0,5551.98,888.32,0.0,0.0,NaN,6440.30,6440.30,I,Vigente,PE02-ENE23
4,2023-01-01,342205,DCC10492-DE51-4C87-8430-5676FBF81931,BLE1512082R9,BEPENSA LEASING S.A. DE C.V.,ARRENDAMIENTO FINANCIERO,AA RENTA EXIGIBLE CL0000009486 5/48 de 03/12/2...,PPD,99.0,1.0,8454.37,1352.70,0.0,0.0,NaN,9807.07,9807.07,I,Vigente,PE03-ENE23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,2023-02-01,882974,3E97C399-6747-4BCA-8436-ED4B0933DF33,BIN940223KE0,"BANCO INVEX, S.A., INSTITUCION DE BANCA MULTIP...",COMISION BANCARIA,COMISIONES E INTERESES,PUE,3.0,1.0,0.00,0.00,0.0,0.0,NaN,0.00,0.00,I,Vigente,NaN
393,2023-02-01,053560,B7132758-F800-4797-B1D6-CC61AFFEE444,BPU7901018D4,BEBIDAS PURIFICADAS,ALIMENTOS,Epura 20 Lts Policarbonato,PUE,1.0,1.0,220.00,0.00,0.0,0.0,NaN,220.00,220.00,I,Vigente,NaN
394,2023-02-01,1092957089,D1E2DC1E-9FFB-46C6-82E4-B350B83CB6F7,BMN930209927,BANCO MERCANTIL DEL NORTE SA INSTITUCION DE BA...,COMISION BANCARIA,SERVICIOS BANCARIOS,PUE,3.0,1.0,18071.52,682.40,0.0,0.0,NaN,18753.92,18753.92,I,Vigente,NaN
395,2023-02-01,1453820,6249FE27-6FA6-4EFB-910E-3CD67A0E29A1,EFE8908015L3,EFECTIVALE S. de R.L. de C.V.,GASOLINA,CONSUMOS DE COMBUSTIBLE DE MONEDEROS ELECTRONICOS,PUE,5.0,1.0,14472.32,0.00,0.0,0.0,NaN,14472.32,14472.32,I,Vigente,NaN
396,2023-02-01,18,439A9230-277E-5563-818C-7630B0E8D706,AAE6411055P8,AESA ARTICULOS ELECTRICOS,COMPRAS,Pago,NaN,NaN,1.0,0.00,0.00,0.0,0.0,NaN,0.00,0.00,P,Vigente,NaN

In [168]:
# Seleccionamos las columnas de interés
gastos23_c = gastos_2023[['Fecha', "Folio",'Proveedor', "Descripción", "TIPO GASTO", "Importe", "IVA", "TOTAL MX"]]
gastos23_c.head(3)

,Fecha,Folio,Proveedor,Descripción,TIPO GASTO,Importe,IVA,TOTAL MX
0,2023-01-01,31,AESA ARTICULOS ELECTRICOS,Pago,COMPRAS,0.00,0.00,0.0
1,2023-01-01,38,AESA ARTICULOS ELECTRICOS,Pago,COMPRAS,0.00,0.00,0.0
2,2023-01-01,341932,BEPENSA LEASING S.A. DE C.V.,AA RENTA EXIGIBLE CL0000006876 30/36 de 03/12/...,ARRENDAMIENTO FINANCIERO,5551.38,888.22,6439.6

In [169]:
# Comprobamos si es necesario realizar alguna modificación de tipo de dato 
gastos23_c.info()
# Todo parece correcto

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397 entries, 0 to 396
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Fecha        397 non-null    datetime64[ns]
 1   Folio        384 non-null    object
 2   Proveedor    397 non-null    object
 3   Descripción  397 non-null    object
 4   TIPO GASTO   389 non-null    object
 5   Importe      397 non-null    float64
 6   IVA          397 non-null    float64
 7   TOTAL MX     397 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 24.9+ KB

In [170]:
# Identificamos la existencia de nulos en nuestro dataframe
gastos23_c.isnull().sum()

Fecha           0
Folio          13
Proveedor       0
Descripción     0
TIPO GASTO      8
Importe         0
IVA             0
TOTAL MX        0
dtype: int64

### Columna FOLIO

In [171]:
# Identificamos la existencia de 102 valores nulos en FOLIO
# Utilizaremos el siguiente formato : "XXXX" para sustituirlo y ser capaces de identificarlos posteriormente
gastos23_c["Folio"] = gastos23_c["Folio"].fillna("XXXX")

<ipython-input-171-b2fda00572cc>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gastos23_c["Folio"] = gastos23_c["Folio"].fillna("XXXX")

### Columna TIPO GASTO

In [172]:
gastos23_c["TIPO GASTO"] = gastos23_c["TIPO GASTO"].fillna("Desconocido")

<ipython-input-172-c722ca02d956>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gastos23_c["TIPO GASTO"] = gastos23_c["TIPO GASTO"].fillna("Desconocido")

In [173]:
# Para las columnas Importe, IVA y TOTAL MX, se utilizará la misma lógica que para la información de años anteriores

In [174]:
# Comprobamos la correcta sustituci+on de nulos
gastos23_c.isnull().sum()

Fecha          0
Folio          0
Proveedor      0
Descripción    0
TIPO GASTO     0
Importe        0
IVA            0
TOTAL MX       0
dtype: int64

### Extracción de CSV´s

In [175]:
gastos20_c.to_csv("Gastos_costos_2020.csv")
gastos21_c.to_csv("Gastos_costos_2021.csv")
gastos_c.to_csv("Gastos_costos_2022.csv")
gastos23_c.to_csv("Gastos_costos_2023.csv")